body {
    background-color: rgba(240, 255, 255, 0.486);
    background-image: url("/Podcast/art.jpg");
    background-size: auto;
    }
header{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
nav{text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    background-color:  rgba(132, 136, 120, 0.899);
    }
li:hover{
    background-color: rgba(105, 85, 48, 0.459);
    font-size: large;
    font-style:oblique;
    color: rgb(139, 131, 131);
}
div{
    margin-right: auto;
    background-color:  rgba(132, 136, 120, 0.899);
}
footer{
    text-align: left;
    border: 4px solid;
    background-color: rgba(132, 136, 120, 0.899);
}
select{
    background-color: rgba(127, 255, 212, 0.377);

}
a:hover{
    background-color: rgba(105, 85, 48, 0.459);
    font-size: large;
    font-style:oblique;
    
}
